<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
  <% include partials/navbar %>
  <main>
    <section class="section">
      <div class="container">
        <pre><%= JSON.stringify(server) %></pre>
      </div>
    </section>
  </main>
  <% include partials/footer %>
</body>
</html>